In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from statsmodels import api as sm
import numpy as np
from pandas_profiling import ProfileReport

In [ ]:
df = pd.read_csv('/content/training_data.csv')

In [ ]:
df.shape[1]

82

In [ ]:
df.columns = df.columns.str.replace(' ', '')
df.columns = df.columns.str.replace('/', '')
df.columns = df.columns.str.replace('1st', 'First')
df.columns = df.columns.str.replace('2nd', 'Second')
df.columns = df.columns.str.replace('3SsnPorch', 'SsnPorch')

,Order,PID,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,384,527364030,60,FV,70.0,7000,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,240900
1,627,535125090,60,RL,85.0,13600,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,205000
2,1388,905200160,20,RL,NaN,9000,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,80000
3,2221,909425140,20,RL,110.0,14442,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,257500
4,1450,907202240,20,RL,40.0,14330,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,8,2008,WD,Normal,163000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2485,2645,902110120,190,RM,56.0,7745,Pave,Grvl,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,111500
2486,1992,902301030,50,RM,60.0,9600,Pave,Grvl,Reg,Lvl,...,0,NaN,GdWo,NaN,0,7,2007,WD,Normal,125000
2487,2698,903458010,30,RM,60.0,7200,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,3,2006,ConLI,Family,90000
2488,783,905325020,20,RL,65.0,25095,Pave,NaN,IR1,Low,...,0,NaN,NaN,NaN,0,6,2009,WD,Partial,143000
2489,712,902207170,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,NaN,GdWo,NaN,0,2,2009,WD,Normal,99500

In [ ]:
df.head()

,Order,PID,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,384,527364030,60,FV,70.0,7000,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,240900
1,627,535125090,60,RL,85.0,13600,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,205000
2,1388,905200160,20,RL,NaN,9000,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,80000
3,2221,909425140,20,RL,110.0,14442,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,257500
4,1450,907202240,20,RL,40.0,14330,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,8,2008,WD,Normal,163000

In [ ]:
df=df.drop('Order',axis=1)
df=df.drop('MSZoning',axis=1)
df=df.drop('Street',axis=1)
df=df.drop('Alley',axis=1)
df=df.drop('LandContour',axis=1)
df=df.drop('Utilities',axis=1)
df=df.drop('LotConfig',axis=1)
df=df.drop('Neighborhood',axis=1)
df=df.drop('Condition1',axis=1)
df=df.drop('Condition2',axis=1)
df=df.drop('BldgType',axis=1)
df=df.drop('RoofStyle',axis=1)
df=df.drop('RoofMatl',axis=1)
df=df.drop('ExteriorFirst',axis=1)
df=df.drop('ExteriorSecond',axis=1)
df=df.drop('MasVnrType',axis=1)
df=df.drop('Foundation',axis=1)
df=df.drop('BsmtExposure',axis=1)
df=df.drop('BsmtFinSF2',axis=1)
df=df.drop('BsmtUnfSF',axis=1)
df=df.drop('TotalBsmtSF',axis=1)
df=df.drop('Heating',axis=1)
df=df.drop('Electrical',axis=1)
df=df.drop('LowQualFinSF',axis=1)
df=df.drop('BsmtFullBath',axis=1)
df=df.drop('BsmtHalfBath',axis=1)
df=df.drop('HalfBath',axis=1)
df=df.drop('Fireplaces',axis=1)
df=df.drop('GarageYrBlt',axis=1)
df=df.drop('GarageArea',axis=1)
df=df.drop('PoolArea',axis=1)
df=df.drop('MiscFeature',axis=1)
df=df.drop('MoSold',axis=1)
df=df.drop('YrSold',axis=1)
df=df.drop('SaleCondition',axis=1)
df=df.drop('SaleType',axis=1)
df=df.drop('GarageType',axis=1)
df=df.drop('GarageFinish',axis=1)

df.head()

,PID,MSSubClass,LotFrontage,LotArea,LotShape,LandSlope,HouseStyle,OverallQual,OverallCond,YearBuilt,...,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,SsnPorch,ScreenPorch,PoolQC,Fence,MiscVal,SalePrice
0,527364030,60,70.0,7000,Reg,Gtl,2Story,7,5,2003,...,Y,0,35,0,0,0,NaN,NaN,0,240900
1,535125090,60,85.0,13600,Reg,Gtl,2Story,7,6,1965,...,Y,0,42,0,0,189,NaN,NaN,0,205000
2,905200160,20,NaN,9000,Reg,Gtl,1Story,5,3,1959,...,Y,0,24,0,0,0,NaN,NaN,0,80000
3,909425140,20,110.0,14442,Reg,Gtl,1Story,6,7,1957,...,Y,0,87,0,0,200,NaN,NaN,0,257500
4,907202240,20,40.0,14330,IR1,Gtl,1Story,5,6,1975,...,Y,140,0,239,0,227,NaN,NaN,0,163000

In [ ]:
mapping = {'Reg': 4, 'IR1': 3, 'IR2': 2, 'IR3': 1}
df=df.replace({'LotShape': mapping})\

In [ ]:
mapping = {'Gtl': 3, 'Mod': 2, 'Sev': 1}
df=df.replace({'LandSlope': mapping})

In [ ]:
mapping = {'1Story': 1, '1.5Fin': 2, '1.5Unf': 3, '2Story': 4, '2.5Fin': 5, '2.5Unf': 6, 'SFoyer': 7, 'SLvl': 8}
df=df.replace({'HouseStyle': mapping})

In [ ]:
df['MasVnrArea'] = df['MasVnrArea'].fillna(0)

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df=df.replace({'ExterQual': mapping})

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df=df.replace({'ExterCond': mapping})

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df=df.replace({'BsmtQual': mapping})

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df=df.replace({'BsmtCond': mapping})

In [ ]:
mapping = {'GLQ': 7, 'ALQ': 6, 'BLQ': 5, 'Rec': 4, 'LwQ': 3, 'Unf': 2, 'NA': 1}
df=df.replace({'BsmtFinType1': mapping})
df['BsmtFinType1'] = df['BsmtFinType1'].fillna(0)

In [ ]:
df['BsmtFinSF1'] = df['BsmtFinSF1'].fillna(0)

In [ ]:
mapping = {'GLQ': 7, 'ALQ': 6, 'BLQ': 5, 'Rec': 4, 'LwQ': 3, 'Unf': 2, 'NA': 1}
df=df.replace({'BsmtFinType2': mapping})
df['BsmtFinType2'] = df['BsmtFinType2'].fillna(0)

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df=df.replace({'HeatingQC': mapping})

In [ ]:
mapping = {'N': 0, 'Y': 1}
df=df.replace({'CentralAir': mapping})

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df=df.replace({'KitchenQual': mapping})

In [ ]:
mapping = {'Typ': 7, 'Min2': 6, 'Min1': 5, 'Mod': 4, 'Maj1': 3, 'Maj2': 2, 'Sev': 1, 'Sal':0}
df=df.replace({'Functional': mapping})

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df=df.replace({'FireplaceQu': mapping})
df['FireplaceQu'] = df['FireplaceQu'].fillna(0)

In [ ]:
df['GarageQual'] = df['GarageQual'].fillna(0)
df['GarageCond'] = df['GarageCond'].fillna(0)

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df=df.replace({'GarageQual': mapping})

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df=df.replace({'GarageCond': mapping})

In [ ]:
mapping = {'Y': 2, 'P': 1, 'N': 0}
df=df.replace({'PavedDrive': mapping})

In [ ]:
df['PoolQC'] = df['PoolQC'].fillna(0)
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df=df.replace({'PoolQC': mapping})

In [ ]:
df['MiscVal'] = df['MiscVal'].fillna(0)

In [ ]:
df.insert(36,"Porch",5)

In [ ]:
df.shape[1]
df['Porch']=df['WoodDeckSF']+df['OpenPorchSF']+df['EnclosedPorch']+df['SsnPorch']+df['ScreenPorch']
df=df.drop('WoodDeckSF',axis=1)
df=df.drop('OpenPorchSF',axis=1)
df=df.drop('EnclosedPorch',axis=1)
df=df.drop('SsnPorch',axis=1)
df=df.drop('ScreenPorch',axis=1)
df.shape[1]

40

In [ ]:
df['Fence'] = df['Fence'].fillna(0)
mapping = {'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1}
df=df.replace({'Fence': mapping})

In [ ]:
df.columns

Index(['PID', 'MSSubClass', 'LotFrontage', 'LotArea', 'LotShape', 'LandSlope',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'BsmtQual', 'BsmtCond',
       'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'HeatingQC', 'CentralAir',
       'FirstFlrSF', 'SecondFlrSF', 'GrLivArea', 'FullBath', 'BedroomAbvGr',
       'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd', 'Functional',
       'FireplaceQu', 'GarageCars', 'GarageQual', 'GarageCond', 'PavedDrive',
       'Porch', 'PoolQC', 'Fence', 'MiscVal', 'SalePrice'],
      dtype='object')

In [ ]:
df = df.fillna(0)

In [ ]:
df1 = pd.read_csv('/content/testing_data.csv')
submission = pd.read_csv('/content/sample_sub.csv')

In [ ]:
df1.shape[1]

81

In [ ]:
df1.columns = df1.columns.str.replace(' ', '')
df1.columns = df1.columns.str.replace('/', '')
df1.columns = df1.columns.str.replace('1st', 'First')
df1.columns = df1.columns.str.replace('2nd', 'Second')
df1.columns = df1.columns.str.replace('3SsnPorch', 'SsnPorch')
df1

,Order,PID,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
1,9,527146030,120,RL,39.0,5389,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,Normal
2,12,527165230,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
3,17,527225035,50,RL,152.0,12134,Pave,NaN,IR1,Bnk,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,18,527258010,20,RL,88.0,11394,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2010,New,Partial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,2911,923225260,160,RM,42.0,3964,Pave,NaN,Reg,Lvl,...,0,0,NaN,GdPrv,NaN,0,6,2006,WD,Normal
436,2914,923226180,180,RM,21.0,1470,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Normal
437,2915,923226290,160,RM,21.0,1484,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,5,2006,WD,Normal
438,2919,923228210,160,RM,21.0,1526,Pave,NaN,Reg,Lvl,...,0,0,NaN,GdPrv,NaN,0,6,2006,WD,Normal
439,2920,923228260,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal

In [ ]:
df1.head()

,Order,PID,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
1,9,527146030,120,RL,39.0,5389,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,Normal
2,12,527165230,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
3,17,527225035,50,RL,152.0,12134,Pave,NaN,IR1,Bnk,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,18,527258010,20,RL,88.0,11394,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2010,New,Partial

In [ ]:
df1=df1.drop('Order',axis=1)
df1=df1.drop('MSZoning',axis=1)
df1=df1.drop('Street',axis=1)
df1=df1.drop('Alley',axis=1)
df1=df1.drop('LandContour',axis=1)
df1=df1.drop('Utilities',axis=1)
df1=df1.drop('LotConfig',axis=1)
df1=df1.drop('Neighborhood',axis=1)
df1=df1.drop('Condition1',axis=1)
df1=df1.drop('Condition2',axis=1)
df1=df1.drop('BldgType',axis=1)
df1=df1.drop('RoofStyle',axis=1)
df1=df1.drop('RoofMatl',axis=1)
df1=df1.drop('ExteriorFirst',axis=1)
df1=df1.drop('ExteriorSecond',axis=1)
df1=df1.drop('MasVnrType',axis=1)
df1=df1.drop('Foundation',axis=1)
df1=df1.drop('BsmtExposure',axis=1)
df1=df1.drop('BsmtFinSF2',axis=1)
df1=df1.drop('BsmtUnfSF',axis=1)
df1=df1.drop('TotalBsmtSF',axis=1)
df1=df1.drop('Heating',axis=1)
df1=df1.drop('Electrical',axis=1)
df1=df1.drop('LowQualFinSF',axis=1)
df1=df1.drop('BsmtFullBath',axis=1)
df1=df1.drop('BsmtHalfBath',axis=1)
df1=df1.drop('HalfBath',axis=1)
df1=df1.drop('Fireplaces',axis=1)
df1=df1.drop('GarageYrBlt',axis=1)
df1=df1.drop('GarageArea',axis=1)
df1=df1.drop('PoolArea',axis=1)
df1=df1.drop('MiscFeature',axis=1)
df1=df1.drop('MoSold',axis=1)
df1=df1.drop('YrSold',axis=1)
df1=df1.drop('SaleCondition',axis=1)
df1=df1.drop('SaleType',axis=1)
df1=df1.drop('GarageType',axis=1)
df1=df1.drop('GarageFinish',axis=1)

df1.head()

,PID,MSSubClass,LotFrontage,LotArea,LotShape,LandSlope,HouseStyle,OverallQual,OverallCond,YearBuilt,...,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,SsnPorch,ScreenPorch,PoolQC,Fence,MiscVal
0,526301100,20,141.0,31770,IR1,Gtl,1Story,6,5,1960,...,TA,P,210,62,0,0,0,NaN,NaN,0
1,527146030,120,39.0,5389,IR1,Gtl,1Story,8,5,1995,...,TA,Y,237,152,0,0,0,NaN,NaN,0
2,527165230,20,NaN,7980,IR1,Gtl,1Story,6,7,1992,...,TA,Y,483,21,0,0,0,NaN,GdPrv,500
3,527225035,50,152.0,12134,IR1,Mod,1.5Fin,8,7,1988,...,TA,Y,325,12,0,0,0,NaN,NaN,0
4,527258010,20,88.0,11394,Reg,Gtl,1Story,9,2,2010,...,TA,Y,113,0,0,0,0,NaN,NaN,0

In [ ]:
mapping = {'Reg': 4, 'IR1': 3, 'IR2': 2, 'IR3': 1}
df1=df1.replace({'LotShape': mapping})\

In [ ]:
mapping = {'Gtl': 3, 'Mod': 2, 'Sev': 1}
df1=df1.replace({'LandSlope': mapping})

In [ ]:
mapping = {'1Story': 1, '1.5Fin': 2, '1.5Unf': 3, '2Story': 4, '2.5Fin': 5, '2.5Unf': 6, 'SFoyer': 7, 'SLvl': 8}
df1=df1.replace({'HouseStyle': mapping})

In [ ]:
df1['MasVnrArea'] = df1['MasVnrArea'].fillna(0)

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df1=df1.replace({'ExterQual': mapping})

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df1=df1.replace({'ExterCond': mapping})

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df1=df1.replace({'BsmtQual': mapping})

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df1=df1.replace({'BsmtCond': mapping})

In [ ]:
mapping = {'GLQ': 7, 'ALQ': 6, 'BLQ': 5, 'Rec': 4, 'LwQ': 3, 'Unf': 2, 'NA': 1}
df1=df1.replace({'BsmtFinType1': mapping})
df1['BsmtFinType1'] = df1['BsmtFinType1'].fillna(0)

In [ ]:
df1['BsmtFinSF1'] = df1['BsmtFinSF1'].fillna(0)

In [ ]:
mapping = {'GLQ': 7, 'ALQ': 6, 'BLQ': 5, 'Rec': 4, 'LwQ': 3, 'Unf': 2, 'NA': 1}
df1=df1.replace({'BsmtFinType2': mapping})
df1['BsmtFinType2'] = df1['BsmtFinType2'].fillna(0)

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df1=df1.replace({'HeatingQC': mapping})

In [ ]:
mapping = {'N': 0, 'Y': 1}
df1=df1.replace({'CentralAir': mapping})

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df1=df1.replace({'KitchenQual': mapping})

In [ ]:
mapping = {'Typ': 7, 'Min2': 6, 'Min1': 5, 'Mod': 4, 'Maj1': 3, 'Maj2': 2, 'Sev': 1, 'Sal':0}
df1=df1.replace({'Functional': mapping})

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df1=df1.replace({'FireplaceQu': mapping})
df1['FireplaceQu'] = df1['FireplaceQu'].fillna(0)

In [ ]:
df1['GarageQual'] = df1['GarageQual'].fillna(0)
df1['GarageCond'] = df1['GarageCond'].fillna(0)

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df1=df1.replace({'GarageQual': mapping})

In [ ]:
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df1=df1.replace({'GarageCond': mapping})

In [ ]:
mapping = {'Y': 2, 'P': 1, 'N': 0}
df1=df1.replace({'PavedDrive': mapping})

In [ ]:
df1['PoolQC'] = df1['PoolQC'].fillna(0)
mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
df1=df1.replace({'PoolQC': mapping})

In [ ]:
df1['MiscVal'] = df1['MiscVal'].fillna(0)

In [ ]:
df1.insert(36,"Porch",5)

In [ ]:
df1.shape[1]
df1['Porch']=df1['WoodDeckSF']+df1['OpenPorchSF']+df1['EnclosedPorch']+df1['SsnPorch']+df1['ScreenPorch']
df1=df1.drop('WoodDeckSF',axis=1)
df1=df1.drop('OpenPorchSF',axis=1)
df1=df1.drop('EnclosedPorch',axis=1)
df1=df1.drop('SsnPorch',axis=1)
df1=df1.drop('ScreenPorch',axis=1)
df1.shape[1]

39

In [ ]:
df1['Fence'] = df1['Fence'].fillna(0)
mapping = {'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1}
df1=df1.replace({'Fence': mapping})

In [ ]:
df1.columns

Index(['PID', 'MSSubClass', 'LotFrontage', 'LotArea', 'LotShape', 'LandSlope',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'BsmtQual', 'BsmtCond',
       'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'HeatingQC', 'CentralAir',
       'FirstFlrSF', 'SecondFlrSF', 'GrLivArea', 'FullBath', 'BedroomAbvGr',
       'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd', 'Functional',
       'FireplaceQu', 'GarageCars', 'GarageQual', 'GarageCond', 'PavedDrive',
       'Porch', 'PoolQC', 'Fence', 'MiscVal'],
      dtype='object')

In [ ]:
df1 = df1.fillna(0)

In [ ]:
df1.head()

,PID,MSSubClass,LotFrontage,LotArea,LotShape,LandSlope,HouseStyle,OverallQual,OverallCond,YearBuilt,...,Functional,FireplaceQu,GarageCars,GarageQual,GarageCond,PavedDrive,Porch,PoolQC,Fence,MiscVal
0,526301100,20,141.0,31770,3,3,1,6,5,1960,...,7,4.0,2.0,3,3,1,272,0.0,0,0
1,527146030,120,39.0,5389,3,3,1,8,5,1995,...,7,3.0,2.0,3,3,2,389,0.0,0,0
2,527165230,20,0.0,7980,3,3,1,6,7,1992,...,7,0.0,2.0,3,3,2,504,0.0,4,500
3,527225035,50,152.0,12134,3,2,2,8,7,1988,...,7,0.0,2.0,3,3,2,337,0.0,0,0
4,527258010,20,88.0,11394,4,3,1,9,2,2010,...,7,5.0,3.0,3,3,2,113,0.0,0,0

In [ ]:
df.head()

,PID,MSSubClass,LotFrontage,LotArea,LotShape,LandSlope,HouseStyle,OverallQual,OverallCond,YearBuilt,...,FireplaceQu,GarageCars,GarageQual,GarageCond,PavedDrive,Porch,PoolQC,Fence,MiscVal,SalePrice
0,527364030,60,70.0,7000,4,3,4,7,5,2003,...,5.0,2.0,3,3,2,35,0,0,0,240900
1,535125090,60,85.0,13600,4,3,4,7,6,1965,...,2.0,2.0,3,3,2,231,0,0,0,205000
2,905200160,20,0.0,9000,4,3,1,5,3,1959,...,0.0,0.0,0,0,2,24,0,0,0,80000
3,909425140,20,110.0,14442,4,3,1,6,7,1957,...,3.0,2.0,3,3,2,287,0,0,0,257500
4,907202240,20,40.0,14330,3,3,1,5,6,1975,...,0.0,2.0,3,3,2,606,0,0,0,163000

In [ ]:
x = df.PoolQC.value_counts()
print(x)
sum(x)

0    2477
4       4
5       4
3       3
2       2
Name: PoolQC, dtype: int64

2490

In [ ]:
df.columns

Index(['PID', 'MSSubClass', 'LotFrontage', 'LotArea', 'LotShape', 'LandSlope',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'BsmtQual', 'BsmtCond',
       'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'HeatingQC', 'CentralAir',
       'FirstFlrSF', 'SecondFlrSF', 'GrLivArea', 'FullBath', 'BedroomAbvGr',
       'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd', 'Functional',
       'FireplaceQu', 'GarageCars', 'GarageQual', 'GarageCond', 'PavedDrive',
       'Porch', 'PoolQC', 'Fence', 'MiscVal', 'SalePrice'],
      dtype='object')

In [ ]:
df = df[df['LotArea'] < 23000]
df = df[df['LotFrontage'] < 200]
df = df[df['BsmtFinSF1'] < 2500]

In [ ]:
plt.figure(figsize=(15,8))
sns.barplot (x='SalePrice',y='Porch', data = df, palette = 'Blues_d')
plt.show()

In [ ]:
pd.set_option('display.max_columns', None)
df.describe()

,PID,MSSubClass,LotFrontage,LotArea,LotShape,LandSlope,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,ExterCond,BsmtQual,BsmtCond,BsmtFinType1,BsmtFinSF1,BsmtFinType2,HeatingQC,CentralAir,FirstFlrSF,SecondFlrSF,GrLivArea,FullBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,FireplaceQu,GarageCars,GarageQual,GarageCond,PavedDrive,Porch,PoolQC,Fence,MiscVal,SalePrice
count,2.443000e+03,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000,2443.000000
mean,7.128166e+08,57.744576,57.607041,9457.585755,3.616455,2.955383,2.575113,6.088007,5.591486,1971.333606,1984.341793,99.234138,3.390913,3.084323,3.473598,2.918952,4.524355,432.259517,2.250921,4.145722,0.930413,1147.274662,337.745804,1489.100696,1.565698,2.858371,1.047892,3.503479,6.437986,6.855915,1.743348,1.755628,2.794515,2.804748,1.837904,180.362260,0.013917,0.582890,42.734752,179614.805976
std,1.885961e+08,42.277856,31.975067,3612.908157,0.548850,0.216192,1.974341,1.395277,1.111385,30.238955,20.794651,171.652199,0.577236,0.371281,0.909286,0.579457,2.164536,431.828956,1.012046,0.952200,0.254501,367.272626,425.642382,482.757435,0.546077,0.820748,0.222962,0.662782,1.534393,0.645428,1.802955,0.760703,0.723097,0.721685,0.526843,156.397939,0.239032,1.213486,406.265797,78484.589045
min,5.263020e+08,20.000000,0.000000,1300.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,334.000000,0.000000,334.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12789.000000
25%,5.284770e+08,20.000000,44.000000,7399.500000,3.000000,3.000000,1.000000,5.000000,5.000000,1953.000000,1966.000000,0.000000,3.000000,3.000000,3.000000,3.000000,2.000000,0.000000,2.000000,3.000000,1.000000,874.500000,0.000000,1121.500000,1.000000,2.000000,1.000000,3.000000,5.000000,7.000000,0.000000,1.000000,3.000000,3.000000,2.000000,48.000000,0.000000,0.000000,0.000000,129000.000000
50%,5.354531e+08,50.000000,63.000000,9337.000000,4.000000,3.000000,2.000000,6.000000,5.000000,1973.000000,1993.000000,0.000000,3.000000,3.000000,4.000000,3.000000,5.000000,364.000000,2.000000,5.000000,1.000000,1072.000000,0.000000,1436.000000,2.000000,3.000000,1.000000,3.000000,6.000000,7.000000,1.000000,2.000000,3.000000,3.000000,2.000000,164.000000,0.000000,0.000000,0.000000,160000.000000
75%,9.071352e+08,70.000000,78.000000,11332.500000,4.000000,3.000000,4.000000,7.000000,6.000000,2000.000000,2004.000000,163.000000,4.000000,3.000000,4.000000,3.000000,7.000000,720.000000,2.000000,5.000000,1.000000,1368.000000,707.000000,1733.000000,2.000000,3.000000,1.000000,4.000000,7.000000,7.000000,4.000000,2.000000,3.000000,3.000000,2.000000,264.500000,0.000000,0.000000,0.000000,212000.000000
max,9.241520e+08,190.000000,182.000000,22950.000000,4.000000,3.000000,8.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5.000000,5.000000,5.000000,5.000000,7.000000,2257.000000,7.000000,5.000000,1.000000,2726.000000,2065.000000,4476.000000,4.000000,6.000000,3.000000,5.000000,13.000000,7.000000,5.000000,5.000000,5.000000,5.000000,2.000000,1424.000000,5.000000,4.000000,12500.000000,755000.000000

In [ ]:
x=df.drop(['PID','SalePrice'],axis=1)
y=df['SalePrice']
df.head()

,PID,MSSubClass,LotFrontage,LotArea,LotShape,LandSlope,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,ExterCond,BsmtQual,BsmtCond,BsmtFinType1,BsmtFinSF1,BsmtFinType2,HeatingQC,CentralAir,FirstFlrSF,SecondFlrSF,GrLivArea,FullBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,FireplaceQu,GarageCars,GarageQual,GarageCond,PavedDrive,Porch,PoolQC,Fence,MiscVal,SalePrice
0,527364030,60,70.0,7000,4,3,4,7,5,2003,2003,0.0,4,3,4.0,3.0,7.0,622.0,2.0,5,1,1016,868,1884,2,3,1,5,7,7,5.0,2.0,3,3,2,35,0,0,0,240900
1,535125090,60,85.0,13600,4,3,4,7,6,1965,1990,176.0,3,3,3.0,3.0,5.0,454.0,2.0,3,1,1186,800,1986,2,3,1,3,7,7,2.0,2.0,3,3,2,231,0,0,0,205000
2,905200160,20,0.0,9000,4,3,1,5,3,1959,1959,0.0,3,3,3.0,3.0,7.0,288.0,2.0,3,1,1006,0,1006,1,3,1,3,5,7,0.0,0.0,0,0,2,24,0,0,0,80000
3,909425140,20,110.0,14442,4,3,1,6,7,1957,2004,106.0,3,3,3.0,3.0,7.0,1186.0,2.0,5,1,1839,0,1839,2,3,1,4,7,7,3.0,2.0,3,3,2,287,0,0,0,257500
4,907202240,20,40.0,14330,3,3,1,5,6,1975,2001,0.0,3,3,3.0,3.0,4.0,88.0,6.0,3,1,1558,0,1558,2,2,1,3,5,6,0.0,2.0,3,3,2,606,0,0,0,163000

In [ ]:
x1=df1.drop(['PID'],axis=1)
df1.head()

,PID,MSSubClass,LotFrontage,LotArea,LotShape,LandSlope,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,ExterCond,BsmtQual,BsmtCond,BsmtFinType1,BsmtFinSF1,BsmtFinType2,HeatingQC,CentralAir,FirstFlrSF,SecondFlrSF,GrLivArea,FullBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,FireplaceQu,GarageCars,GarageQual,GarageCond,PavedDrive,Porch,PoolQC,Fence,MiscVal
0,526301100,20,141.0,31770,3,3,1,6,5,1960,1960,112.0,3,3,3.0,4.0,5.0,639.0,2.0,2,1,1656,0,1656,1,3,1,3,7,7,4.0,2.0,3,3,1,272,0.0,0,0
1,527146030,120,39.0,5389,3,3,1,8,5,1995,1996,0.0,4,3,4.0,3.0,7.0,1180.0,2.0,5,1,1616,0,1616,2,2,1,4,5,7,3.0,2.0,3,3,2,389,0.0,0,0
2,527165230,20,0.0,7980,3,3,1,6,7,1992,2007,0.0,3,4,4.0,3.0,6.0,935.0,2.0,5,1,1187,0,1187,2,3,1,3,6,7,0.0,2.0,3,3,2,504,0.0,4,500
3,527225035,50,152.0,12134,3,2,2,8,7,1988,2005,0.0,4,3,4.0,3.0,7.0,427.0,2.0,4,1,1080,672,1752,2,4,1,3,8,7,0.0,2.0,3,3,2,337,0.0,0,0
4,527258010,20,88.0,11394,4,3,1,9,2,2010,2010,350.0,4,3,5.0,3.0,7.0,1445.0,2.0,5,1,1856,0,1856,1,1,1,5,8,7,5.0,3.0,3,3,2,113,0.0,0,0

In [ ]:
from sklearn.preprocessing import StandardScaler
stdscale = StandardScaler().fit(x)
X_train = stdscale.transform(x)
X_train

array([[ 0.05335856,  0.38766132, -0.68036296, ..., -0.05823557,
        -0.48044153, -0.10521068],
       [ 0.05335856,  0.85687288,  1.14679426, ..., -0.05823557,
        -0.48044153, -0.10521068],
       [-0.89295691, -1.80199262, -0.12667896, ..., -0.05823557,
        -0.48044153, -0.10521068],
       ...,
       [-0.18322031,  0.07485362,  0.03942624, ..., -0.05823557,
         1.16803973, -0.10521068],
       [-0.65637804,  0.07485362, -0.62499456, ..., -0.05823557,
        -0.48044153, -0.10521068],
       [-0.65637804,  0.07485362, -0.25956312, ..., -0.05823557,
         1.16803973, -0.10521068]])

In [ ]:
stdscale = StandardScaler().fit(x)
X_test = stdscale.transform(x1)
X_test

array([[-0.89295691,  2.60859603,  6.17701344, ..., -0.05823557,
        -0.48044153, -0.10521068],
       [ 1.47283176, -0.58204257, -1.12635543, ..., -0.05823557,
        -0.48044153, -0.10521068],
       [-0.89295691, -1.80199262, -0.4090578 , ..., -0.05823557,
         2.81652098,  1.12576266],
       ...,
       [ 2.41914722, -1.14509644, -2.20742345, ..., -0.05823557,
        -0.48044153, -0.10521068],
       [ 2.41914722, -1.14509644, -2.19579608, ..., -0.05823557,
         2.81652098, -0.10521068],
       [ 2.41914722, -1.14509644, -2.08229086, ..., -0.05823557,
        -0.48044153, -0.10521068]])

In [ ]:
from xgboost import XGBRegressor

my_model = XGBRegressor(n_estimators=1000, learning_rate=0.0375, n_jobs=4)
my_model.fit(X_train, y,verbose=False)
y_xgb=my_model.predict(X_test)
predictions=my_model.predict(X_train)

[17:58:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
submission['SalePrice']=y_xgb
submission.to_csv('submissionfinalxgb.csv')